.panel {
    background-color: #3D5A80;
    padding: 15px;
    border-radius: 10%;
}

.title-signin {
    font-size: 24px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 12px;
}

form > p{
    padding-top: 10px;
}