.subscribe-container table {
    border: 1px solid black;
    text-align: center;
}

.subscribe-container td {
    border: 1px solid black;
}

.subscribe-container th {
    border: 1px solid black;
}

.subscribe-titles {
    display: flex;
}

.subscribe-container {
    padding-left: 10px;
}