header {
    height: 7vh;
    background-color: #3D5A80;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
 * the nav bar to navigate on global pages
 */
nav {
    justify-content: center;
}

nav > * {
    margin-right: 10px;
}


/*
 * Style for bottom menu
 */
a, button {
    background-color: #EE6C4D;
    border: 2px solid #293241;
    border-radius: 10px;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

/*
 * the title content
 */
.title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

/*
 * to navigate on user pages
 */
.user-info {
    display: flex;
    align-items: center;

}

.user-info > * {
    margin-left: 10px;
}

.user-container > * {
    background-color: #EE6C4D;
    border: 2px solid #293241;
    border-radius: 50%;
    padding: 0px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}

.user-name {
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    font-weight: normal;
    margin: 0px;
}

.user-img {
    width: 38px;
    height: 38px;
}

/*
* the center of the page
 */
.center {
    display: flex;
    height: 83vh;
}

aside {
    background-color: #3D5A80;
    height: auto;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin-block: 0px;
}

/**
* for the footer
 */
footer {
    height: 3vh;
    text-align: end;
    background-color: #3D5A80;
    margin-block: 0px;
    padding-top: 10px;
    padding-block-end: 10px;
    padding-bottom: 10px;
}

.middle {
    /*
    display: flex;
    align-items: center;
    justify-content: center;
*/
}

.page-content {
    width: 100%;
    overflow-y: scroll;
}